@import "variables";

@import "~@angular/material/core/theming/prebuilt/deeppurple-amber";

html {
    font-family: 'Roboto', sans-serif;
}
body {    
    background-color: $var-color; 
}

h1 {
  color: #00BCD4;
}