<md-sidenav-container>
    <md-sidenav mode="side" opened="true">
        <nav>
            <ul>
                <li>
                    <a [routerLink]=" ['./'] " routerLinkActive="active">Index</a>
                </li>
                <li>
                    <a [routerLink]=" ['./area51'] " routerLinkActive="active">Area 51</a>
                </li>
            </ul>
        </nav>
    </md-sidenav>
    <div class="my-content">
        <router-outlet></router-outlet>
    </div>
</md-sidenav-container>